@page
@model BankWebAppDocker.Pages.ViewModel
@{
    ViewData["Title"] = "View Account";
}
<h1>View Account</h1>

<!-- Display account information -->
<div>
    <p>Account ID: @Model.AccountId</p>
    <p>Account Name: @Model.AccountName</p>
    <!-- Add other account details here -->
</div>